fastapi==0.116.1
uvicorn[standard]== 0.35.0 
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic-settings==2.10.1
aiofiles==24.1.0
langchain==0.3.27
PyMuPDF==1.26.4
motor==3.7.1
pydantic-mongo==3.1.0
openai==1.102.0
cohere==5.17.0
